<!-- <div class="card"> -->
<div id="main_1">
    <div class="containers">
        <h2>Passenger Information</h2>


        <form action="">

            <label for="name">Name</label><br>
            <input type="text" id="name" name="Name" placeholder="Name">
            <br>
            <label for="Age">Age</label><br>
            <input type="text" id="age" name="age" placeholder="Age">
            <br>
            <label for="Gender">Gender</label><br><br>
            <input type="radio" name="gender" value="male"> Male<br><br>
            <input type="radio" name="gender" value="female"> Female<br>



        </form>
    </div>


    <form action="">
        <div class="containers">
            <h2>Contact Details</h2>

            <hr>

            <label for="email"><b>Email Id</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <br>
            <label for="mobile"><b>Phone</b></label>
            <input type="text" placeholder="Enter Mobile No" name="phon" id="phon" required>


            <hr>

            <a style="text-decoration: none; color: white;" [routerLink]="['/paymentLink']"><button type="submit" class="phonebtn">Proceed to pay</button></a>
        </div>


    </form>
</div>

<!-- </div> -->